<div{{ attributes.addClass('flex-container su-card__contents') }}>
  <div class="flex-8-of-12">
    <div>
      {{ type_list }}
    </div>
    <h2>
      {{ title }}
    </h2>
    <div class="su-opportunity-body-content">
      <div class="su-opportunity-row-location">
        <div>
          <h3>Location:</h3>
          <p>{{ location }}</p>
        </div>
      </div>
      <div class="su-opportunity-row-duration">
        <div>
          <h3>When:</h3>
          <p>{{ when }}</p>
        </div>
      </div>
      <div class="su-opportunity-row-open-to">
        <div>
          <h3>Open to:</h3>
          <p>{{ open_to }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-4-of-12">
    <div class="su-opportunity-img">
      {{ image }}
    </div>
  </div>
</div>
