<div{{ attributes.addClass('su-opportunity-result') }}>
  <div class="flex-container su-card__contents">
    <div class="{% if image|render|striptags('<drupal-render-placeholder> <img> <picture> <source>')|trim  %}flex-9-of-12{% endif %}">
      <div class="su-opportunity-type">
        <div  aria-label="{{ 'Opportunity Type'|t }}">
          {{ type_list }}
        </div>
      </div>
      <h3>
        {{ title }}
      </h3>

      <div class="su-opportunity-body-content">
          <div class="su-opportunity-row-application-deadline">
            <div>
              <h4>{{ 'Application Deadline'|t }}:</h4>
              {% if application_deadline|render %}
              <div>{{ application_deadline }}</div>
              {% else %}
                <div>{{ 'N/A'|t }}</div>
              {% endif %}
            </div>
          </div>

          <div class="su-opportunity-row-location">
            <div>
              <h4>{{ 'Location'|t }}:</h4>
              {% if location|render %}
              <div>{{ location }}</div>
              {% else %}
              <div>{{ 'N/A'|t }}</div>
              {% endif %}
            </div>
          </div>

          <div class="su-opportunity-row-duration">
            <div>
              <h4>{{ 'When'|t }}:</h4>
              {% if when|render %}
              <div>{{ when }}</div>
              {% else %}
                <div>{{ 'N/A'|t }}</div>
              {% endif %}
            </div>
          </div>

          <div class="su-opportunity-row-open-to">
            <div>
              <h4>{{ 'Open to'|t }}:</h4>
              {% if open_to|render %}
              <div>{{ open_to }}</div>
              {% else %}
                <div>{{ 'N/A'|t }}</div>
              {% endif %}
            </div>
          </div>
      </div>
    </div>

    {% if image %}
      <div class="flex-3-of-12">
        <div class="su-opportunity-img">
          {{ image|render|striptags('<drupal-render-placeholder> <img> <picture> <source>')|raw }}
        </div>
      </div>
    {% endif %}
  </div>
  {{ favorite }}
</div>
